@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');

html,body{
    margin: 0;
}

/* === Logo === */
.logo{
    border-bottom: 10px solid black;
    width: max-content;
    margin: 4.3em auto 0;
}

/* === Typography === */
h1{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 4rem;
    margin: 0;
}

/* === Structure === */
.container{
    max-width: 390px;
    border: 2px solid black;
    margin: 0 auto;
    height: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-image: url('./assets/bg-logout.jpg');
    background-size: cover;
}

/* === Nav === */
nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 1em 0 0 0;
}

/* === Inputs === */
input{
    font-size: 1.25rem;
    padding: 1em;
    text-align: center;
    background-color: #FFFEFC;
    margin-top: 0.5em;
    font-family: 'Capriola', sans-serif;
}

/* === Buttons === */
.providers-button{
    background-color: #FFFEFC;
    margin: 3em 0 0 0;
    width: 310px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Capriola', sans-serif;
}

.providers-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFEFC;
    width: 100%;
}

.providers-btn > img{
    width: 35px;
    height: 35px;
    margin-left: 1em;
}

.providers-btn > p{
    font-size: 1.25rem;
}

.auth-fields-and-buttons{
    display: flex;
    flex-direction: column;
}

button{
    font-family: 'Capriola', sans-serif;
}

button:hover{
    cursor: pointer;
}

.primary-btn{
    font-size: 1.25rem;
    padding: 1em;
    margin-top: 0.5em;
    background-color: #FFDE00;
}

.secondary-btn{
    font-size: 1.25rem;
    padding: 0.5em;
    margin-top: 0.5em;
    background-color: #62EEA8;
}

.bobby{
    border: 2px solid black;
    margin-top: 5em;
    height: 200px;
    width: 300px;
    background: url("https://media.giphy.com/media/10UeedrT5MIfPG/giphy.gif");
    background-size: cover;
}

.icon-btn{
    background: none;
    border: none;
    cursor: pointer;
}

.icon-img-btn{
    height: 50px;
    width: 50px;
}